{% extends 'base.html.twig' %}

{% block title %}Nouveau habitat{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Nouveau</h1>

    {{ include('habitats/_form.html.twig') }}

    <a href="{{ path('app_habitats_index') }}">Retour</a>
{% endblock %}
