{% extends 'base.html.twig' %}

{% block title %}Hello VisitorController!{% endblock %}

{% block body %}
    <a href="{{ path('app_visitor_services') }}">Nos Services</a>
    <a href="{{ path('app_visitor_habitats') }}">Nos Habitats</a>
{% endblock %}
