{% extends 'baseVisitor.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

{# Desktop #}
<div class="flex flex-col justify-center items-center w-full mt-20 lg:mt-36">
    <div class="max-w-[80rem] w-full px-4">
        <h1 class="text-2xl lg:text-3xl font-extrabold text-white text-center mb-4">Nos Services</h1>
        {% for service in services %}
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 bg-white mb-4 p-4 rounded-2xl">
                <div class="flex flex-col justify-center items-center">
                    <h2 class="text-xl font-semibold text-justify">{{ service.name }}</h2>
                    <div class="mt-2 text-sm lg:text-base text-justify">{{ service.description|raw }}</div>
                </div>
                {% if service.picture %}
                <div class="flex justify-center items-center">
                    <div class="w-9/12 h-9/12 ">
                        <img src="{{ asset('uploads/' ~ service.picture.filename) }}" class="w-full h-full object-cover rounded-lg" alt="Service Picture">
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

