{% extends 'base.html.twig' %}

{% block title %}New Hours{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Nouvel horaire</h1>
    {{ include('hours/_form.html.twig') }}
{% endblock %}
