{% extends 'base.html.twig' %}

{% block title %}Nouveau services{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Nouveau service</h1>
    {{ include('services/_form.html.twig') }}
{% endblock %}
