{% extends 'base.html.twig' %}

{% block title %}Modifier un rapport{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4 mt-8">{{ report.animal.name }}</h1>
    {{ include('reports/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
