{% extends 'base.html.twig' %}

{% block title %}Nouveau rapport{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Créer un nouveau rapport</h1>
    {{ include('reports/_form.html.twig') }}
{% endblock %}
