{% extends 'base.html.twig' %}

{% block title %}New opinions{% endblock %}

{% block body %}
    <h1>Create new opinions</h1>

    {{ include('opinions/_form.html.twig') }}

    <a href="{{ path('app_opinions_index') }}">back to list</a>
{% endblock %}
