@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS personnalisées */
:root {
  --custom-1: #0D2C3B;
  --custom-2: #39604C;
  --custom-3: #E7E1CF;
  --custom-4: #ffff;
  --custom-5: #D90000;
  --custom-gray-1: #EBEBEB;
}

/* Utilitaires personnalisés */
@layer utilities {
  .bg-gradient {
    background: linear-gradient(to bottom, #0D2C3B, #39604C, #E7E1CF);
  }
}

/* Styles pour Swiper */
.swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: auto;
  box-sizing: border-box;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out; 
}

.swiper-slide-next, .swiper-slide-prev {
  transform: scale(0.9) !important;
  opacity: 0.8;
}

.swiper-container {
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

/* Styles pour Infinite Scroll */
#infinite-scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

/* Styles pour masquer la scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Styles pour les boutons radio */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--custom-2);
  border-radius: 50px; 
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--custom-2);
  color: white;
}

input[type="radio"] + label:hover {
  background-color: var(--custom-2);
  color: white;
}


/* Bouton Filtre Active */
.filter-btn.active {
  background-color: var(--custom-2);
  color: white;
}

#file-upload-button {
  margin-top: 0.5rem; /* Espace en haut de l'input */
  border: 2px solid var(--custom-2); /* Couleur et épaisseur de la bordure */
  border-radius: 9999px; /* Bordure arrondie (input rond) */
  padding: 0.5rem; /* Padding interne */
  cursor: pointer; /* Change le curseur sur hover */
  transition: all 0.3s ease-in-out; /* Ajoute une transition sur les changements de style */
}

/* Optionnel : Style supplémentaire pour le hover ou le focus */
#file-upload-button:hover,
#file-upload-button:focus {
  border-color: var(--custom-hover); /* Changer la couleur de la bordure au survol */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
  transform: scale(1.05); /* Légère mise à l'échelle */
}
