{% extends 'base.html.twig' %}

{% block title %}Nourriture Animal{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Nouveau</h1>
    {{ include('feed/_form.html.twig') }}
{% endblock %}